deb http://{{ debian_repo }}/debian jessie main contrib non-free
deb http://{{ debian_repo }}/debian jessie/updates main contrib non-free
deb http://{{ debian_repo }}/debian jessie-backports main contrib non-free

