deb http://az1.clouds.archive.ubuntu.com/ubuntu/ xenial main restricted
deb http://az1.clouds.archive.ubuntu.com/ubuntu/ xenial-updates main restricted
deb http://az1.clouds.archive.ubuntu.com/ubuntu/ xenial universe
deb http://az1.clouds.archive.ubuntu.com/ubuntu/ xenial universe

